winspeech
SpeechRecognition
pyttsx3
datetime
yfinance
pywhatkit
psutil
screen_brightness_control
pyjokes
pyscreenshot
win10toast
asyncio
requests
wolframalpha
keyboard
pyautogui
telethon
numpy
nltk
keras
tensorflow